.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-nav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #6c6c6c;
  padding: 12px 32px;
  margin: 8px;
}

.top-nav a:hover {
  padding: 12px 32px;
  color: #6c6c6c;
  font-weight: 320;
  transition: 0.5s;
}

.top-nav ul {
  list-style: none;
}

.top-nav li {
  display: inline;
}

.top-nav img {
  width: 160px;
}

